@model IEnumerable<Confecciones.Models.Estilo>

@{
    ViewData["Title"] = "Index";
}

<h1>Estilos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetalleEstilo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleEstilo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodEstilo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodEstilo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodEstilo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
