@model Confecciones.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodConfeccionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodConfeccionNavigation.CodConfeccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodMetodoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodMetodoPagoNavigation.CodMetodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUsuarioNavigation.CodUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodPedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
